.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (max-width: 900px) {
    .home-container{
        
        justify-content: flex-start;
    }
}