.footerHome-container{
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.image{
    width: 30%;
    height: 80%;
    background-color: gray;
}

.textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
}
.textarea h3{
    text-align: center;
    color:#031430;
    width: 50%;
    height: 30%;
    font-size: 30px;

}

.border{
    border: 5px solid #b3b3ff;
    width: 40%;
}

.textarea p{
    text-align: left;
    color:#4d4d4d;
    margin: 0;
    margin-bottom: 10px;
    tab-size: 8px;
}


@media screen and (max-width: 900px) {
    .footerHome-container{
        
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }
    .image{
        width: 100%;
        min-height: 20vh;
        background-color: gray;
        margin-bottom: 20px;
    }
    .textarea{
        align-items: center;
        min-height: 30vh;
        width: 100%;
    }
    .textarea h3{
        text-align: center;
    }
    
    .textarea p{
        text-align: center;
        tab-size: 4px;
    }
}