.footerHome-container{
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.image{
    width: 30%;
    height: 80%;
    background-color: gray;
}

.textarea{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
}
.textarea h3{
    color:#031430;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.textarea p{
    text-align: left;
    color:#4d4d4d;
    margin: 0;
    margin-bottom: 10px;
    tab-size: 8px;
}