.footer-container{
    width: 100vw;
    height: 5vh;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #031430;
    box-sizing: border-box;
    position: fixed;
}
.footer-container p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 100%;
    color:white;
    padding-left: 80px;
    text-align: left;
}

.contacto ul{
    list-style: none;
    height: 5vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 80px;
}

.contacto li{
    text-decoration: none;
    color:white;
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 100%;
}
.web{
    height: 100%;
    display: flex;
    align-items: center;
}

.contacto img{
    height: 90%; 
}

.contacto img:hover{
    fill: linear-gradient(260deg, rgb(104, 103, 160) 0%, #ff6666 100%);
}

.resume{ 
    text-decoration: none;
    height: 80%;
    background: linear-gradient(260deg, rgb(104, 103, 160) 0%, #ff6666 100%);
    border-radius: 5%;
    padding: 0 10%;
}

.resume:hover{
    filter:brightness(80%);
}

@media screen and (max-width: 900px) {
    .footer-container{
        position: relative;
        bottom: 0;
        justify-content: space-between;
        padding: 10px;
    }
    .footer-container p{
        padding-left: 0;
        width: 40%;
    }
    .contacto ul{
        margin-right: 0;
        height: 4vh;
    }
    .resume{ 
        height: 70%;
        padding: 1px ;
    }
}
