.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 95vh;
    background: white;
}

.skills-subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.back{
  position:absolute;
  top: 20vh;
  z-index: 0;
  width: 85vw;
  height: 70%;
  background-color: #f2f2f2;
  clip-path: polygon(0 0, 100% 29%, 100% 100%, 0 100%);
}


.clip-skill{
    width: 100%;
    height: 40%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);
    background: linear-gradient(260deg, rgb(104, 103, 160) 0%, #ff6666 100%);
    z-index: 1;
    position: absolute;
}

.title-skills{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color:white;
    width: 100%;
    height: 25%;
    padding-top: 2%;
    font-size: 60px;
    position: relative;
    z-index: 80;
}

.slide-in-from-right {
    animation: 1.5s ease-out 0s 1 slideInFromRight forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateY(-60%);
    
  }
  100% {
    transform: translateY(0);
    
  }
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 60%;
    padding-top: 5%;

}

.skills li{
    position: relative;
    overflow: hidden;
    width: 8vw;
    height: 8vw;
    margin: 0 3%;
    transition: all 0.5s ease-in-out;
}



.skills li img{
    width: 100%;
    height: 100%;
    padding: 5%;
    transition: all 0.5s ease-in-out;
    
}

.skills li p{
    width: 80%;
    height: 80%;
    margin: 0 10%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    transform: translateY(-115%);
    transition: all 0.5s ease-in-out;
    background-color: lightgray;
    border-radius: 20px;
    font-size: 1.3vw;
    font-weight: 600;
    color: white;
    box-shadow: 0px 5px 6px 1px rgba(0,0,0,0.6);
}

  .skills li:hover img {
    transform: translateY(100%);
  }
   
  .skills li:hover p {
    transform: translateY(0);
  }
